.body {
    margin:0;
}
.author {
    position: fixed;
    right: 0;
    bottom: 0;
    color: rgb(61, 61, 61);
    z-index: 999;
}
.author a {
    color: rgb(89, 89, 89);
    transition: 0.2s;
}
.author a:hover {
    color: rgb(187, 187, 187);
}
canvas {
    display: block;
    position:absolute;
    top:0;
    left:0;
}